*{
    padding: 0;
    margin: 0;
}
.main_container9{
    background-image: url('../../public/images/kk.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    margin-top: 0;
    margin-left: 0;
    padding-top: 0;
    padding-left: 0;
}